[Desktop Entry]
Name=MixTerm
Comment=Professional SSH/SFTP Client
Exec=mixterm
Icon=mixterm
Terminal=false
Type=Application
Categories=Network;RemoteAccess;System;
Keywords=ssh;sftp;terminal;remote;server;
StartupWMClass=mixterm
